*.gem
*.rbc
.bundle
bundle_bin
.config
coverage
InstalledFiles
lib/bundler/man
pkg
config/config.yml
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tmp.*
bin
.sass-cache
tags
public/dwca/*.tar.gz

# YARD artifacts
.yardoc
_yardoc
doc/
