%h2 HPS Items
#hps_items
  %table
    %tr
      %th Names&nbsp;#
      %th Item Title
    - @bitstreams.each do |bitstream|
      %tr
        %td
          %a{ href: "/documents/%s" % bitstream.id } 
            = bitstream.names.count 
        %td
          - item = bitstream.items.first
          %a{ href: "http://hpsrepository.asu.edu/handle/%s" % item.handle }
            #{item.title} 

