%header.main__header
  .bucket.main__header__bucket
    .panel.main__header__panel
      %h1 Home page
.main__content
  .main__content__bucket--ish
    #introduction.introduction
      .bucket.introduction__bucket
        #introduction__one.panel.introduction__panel
          %p About this thing      
    #basic.basic
      .bucket.basic__bucket
        #basic__one.panel.basic__panel
          %p This is a list of scientific names found in HPS repository
        #basic__two.panel.basic__panel
          %p Something here
