development:
  session_secret: chnge_me
  hps_url: http://hpsrepository.asu.edu/
  dspace_api_url: http://0.0.0.0:9292
  name_finding_url: http://gnrd.globalnames.org
  harvest_dir: /tmp/hps_bioindex
  api_key_public: 123
  api_key_private: 456
  eol_api_key: 789
  communities:
    - 1
    - 2
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: hps_bioindex_dev
test:
  session_secret: chnge_me
  dspace_api_url: http://example.org
  name_finding_url: http://gnrd.example.org
  harvest_dir: /tmp/hps_bioindex
  api_key_public: 123
  api_key_private: 456
  communities:
    - 1
    - 2
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: hps_bioindex_test
production:
  session_secret: chnge_me
  dspace_api_url: http://0.0.0.0:9292
  name_finding_url: http://gnrd.globalnames.org
  harvest_dir: /tmp/hps_bioindex
  api_key_public: 123
  api_key_private: 456
  communities:
    - 1
    - 2
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: hps_bioindex

