// @file
// Initialization partial

// Initialize hipos plugin
@import "hipos";

// Variables for the font stacks.
$hipos-font-base:        $neue;          // The font family set on the html element.
$hipos-font-headings:    $lucida-grande; // The font family set on h elements
$hipos-font-menus:       $lucida-grande;
$hipos-font-buttons:     $lucida-grande;
$hipos-font-fancy:       $lucida-grande;
$hipos-font-monospace:   $courier;       // The font family set on pre, code etc

// Base color lists: background, text, link, button background, button text
$hipos-colors: (
  white black $teal-dark $teal-dark white, //1 n1
  $off-white black $teal-dark $teal-dark white, //2 n2
  $off-white $grey black $grey-dark white, //3 n3
  $grey white white $grey-dark white, //4 n4
  $teal white white $grey-dark white, //5 a1
  $teal-dark white white white $teal-dark, //6 a2
  $grey-dark white $teal-bright $teal-dark white, //7 a3
  $teal-light black black $teal-dark white, //8 a4
  darken($grey-dark, 5%) white $teal-bright $teal-dark white, //9 a5
  #446dac white white #446dac white
);

$body--colors:                  nth($hipos-colors, 1);
$header--colors:                nth($hipos-colors, 5);
$navigation--colors:            nth($hipos-colors, 10);
$navigation--active--colors:    nth($hipos-colors, 2);
$main__header--colors:          nth($hipos-colors, 2);
$introduction--colors:          nth($hipos-colors, 2);
$featured--colors:              nth($hipos-colors, 7);
$results__exposed-form--colors: nth($hipos-colors, 8);
$after--colors:                 nth($hipos-colors, 2);
$bottom--colors:                nth($hipos-colors, 2);
$footer--colors:                nth($hipos-colors, 4);
$slideshow--colors:             nth($hipos-colors, 9);

// Tab styling.
$tabs-container-bg: $off-white;
$tabs-border: $grey-light;

// Import sprites.
$icons-small-layout: smart;
$icons-small: sprite-map("../images/icons-small/*.png");


// Import hipos mixins last after overriding any default variables.
@import "hipos/mixins";

